파이썬으로 데이터 입력하기

In [9]:
import pymysql

In [10]:
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1119', db='practice', charset='utf8')

In [4]:
cur = conn.cursor()

In [5]:
cur.execute("CREATE TABLE userTable (id char(4), userName char(15), email char(20), birthYear int)")

0

In [6]:
cur.execute("INSERT INTO userTable VALUES( 'hong' , '홍지윤' , 'hong@naver.com' , 1996)")
cur.execute("INSERT INTO userTable VALUES( 'kim' , '김태연' , 'kim@daum.net' , 2011)")
cur.execute("INSERT INTO userTable VALUES( 'star' , '별사랑' , 'star@paran.com' , 1990)")
cur.execute("INSERT INTO userTable VALUES( 'yang' , '양지은' , 'yang@gmail.com' , 1993)")

1

In [7]:
conn.commit()

In [8]:
conn.close()

파이썬으로 데이터 조회하기

In [29]:
import pymysql

In [30]:
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row = None

In [31]:
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1119', db='practice', charset='utf8')
cur = conn.cursor()

In [32]:
cur.execute("SELECT * FROM userTable")

4

In [33]:
print("사용자ID            사용자이름            이메일       출생연도")
print("--------------------------------------------------------")

while (True) :
    row = cur.fetchone()
    if row== None :
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s   %15s   %20s   %d" % (data1, data2, data3, data4))

사용자ID            사용자이름            이메일       출생연도
--------------------------------------------------------
 hong               홍지윤         hong@naver.com   1996
  kim               김태연           kim@daum.net   2011
 star               별사랑         star@paran.com   1990
 yang               양지은         yang@gmail.com   1993

In [34]:
conn.close()